DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=student_db
DATABASE_USER=root
DATABASE_PASSWORD=your_db_password_here
TLS_CERT=certs/cert.pem
TLS_KEY=certs/key.pem
JWT_SECRET=your_jwt_secret_at_least_32_characters_long
ALLOWED_ORIGIN=http://localhost:8081
ENVIRONMENT=development
SENDGRID_API_KEY=your_sendgrid_api_key_here
FROM_EMAIL=noreply@openedschool.com
